apiVersion: v1
kind: Secret
metadata:
  name: database
type: Opaque
stringData:
  REDIS_URL: REDIS_URL_VALUE

---
apiVersion: v1
kind: Secret
metadata:
  name: ai
type: Opaque
stringData:
  MISTRAL_API_KEY: MISTRAL_API_KEY_VALUE
